// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #3333b3 !default;

// Text
$section-headings-color: #b20000 !default;
$body-text-color: #000 !default;
$body-link-color: #ff0000 !default;
$blockquote-text-color: #006000 !default;

// Code
$code-bg-color: #eaeaf3 !default;
$code-text-color: #111111 !default;

// Borders
$border-color: #e6efe6 !default;
$table-border-color: #f9e6e6 !default;
$hr-border-color: #eaeaf3 !default;

// Navigation bar
$nav-text-color: #fff;

// Footer
$footer-text-color: #606c71 !default;
