<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }}</title>
		<meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#3737b4">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		{% seo title=false %}
	</head>
	<body>
		<section class="page-header">
			<h1 class="page-name">{{ page.title | default: site.title}}</h1>
			<h2 class="page-tagline">{{ page.description | default: site.description}}</h2>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/lessons/">Lessons</a></li>
					<li><a href="/contact/">Contact</a></li>
				<ul>
			</nav>
		</section>

		<section class="main-content">
			{{ content }}

			<footer class="site-footer">
				<!--<img src="/assets/logo.svg">-->
			</footer>
		</section>
	</body>
</html>
